.voiceChoice{
    margin-top: 6rem;
    left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border: groove;
    border-radius: 1rem;
    width: 6rem;
    transition: 200ms ease;

    .nChItem{
        display: none;
    }
}

.voiceChoice:hover{
    width: auto;
    .nChItem{
        display: block;
    }
}

.capital{
    font-size: 4rem;
    margin-right: auto;
}

/* Kontejner pro volby */
.navChoice{
    margin: 0;
    padding: 1rem;
    overflow-y: auto; /* Měkké scrollování */
    height: 88vh; /* Omezení výšky pro scroll */
    background-color: rgba(0, 0, 0, 0.8); /* Poloprůhledné pozadí */
    border-radius: 1rem;
    scrollbar-width: thin; /* Užší scrollbar pro Firefox */
    scrollbar-color: #ffedd3 transparent; /* Barva scrollbar */
}

/* Stylování scrollbar pro WebKit */
.navChoice::-webkit-scrollbar {
    width: 6px;
    scroll-behavior: smooth;
}
.navChoice::-webkit-scrollbar-thumb {
    background: #ffedd3; /* Barva scrollbar */
    border-radius: 10px;
}
.navChoice::-webkit-scrollbar-track {
    background: transparent; /* Pozadí scrollbar */
}

/* Text uvnitř kontejneru */
.navChoice-text {
    margin: 1rem 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/* Položky menu */
.navChoice-item {
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #444;
    border: 1px solid #888;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-right: auto;
}

/* Hover efekt pro položky */
.navChoice-item:hover {
    background-color: #ffedd3;
    color: #000;
    transform: translateY(-2px); /* Mírný posun nahoru */
}

/* Odkazy uvnitř položek */
.navChoice-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Tlačítko */
.nChItem {
    font-size: 1.5rem;
    padding: 1rem;
    color: #ffedd3;
    text-transform: uppercase;
    border: none;
    background-color: #444;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.nChItem:hover {
    background-color: #ffedd3;
    color: #000;
}