aside{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: none;
}

article{
    margin-bottom: auto;
}

.voiceChoice{
    margin-top: 1rem;
    right: 0;
    background-color: black;
    width: auto;
    min-width: 10px;
    height: 85vh;
    border-radius: 1rem;
    margin-right: auto;
    position: relative;
    transition: 200ms ease;

    .navChoice{
        display: none;
    }
}

.voiceChoice:hover{
    .navChoice{
        display: flex;
    }
    background-color: rgba(0, 0, 0, 0.8);
}

.capital{
    font-size: 3rem;
    margin-top: 6rem;
    margin-right: auto;
    margin-bottom: 0rem;
}

.navChoice-nav{
    margin-left: -3rem;
}

/* Kontejner pro volby */
.navChoice{
    margin: 0;
    padding: 0.5rem;
    overflow-y: auto; /* Měkké scrollování */
    height: 84vh; /* Omezení výšky pro scroll */
    background-color: rgba(0, 0, 0, 0.8); /* Poloprůhledné pozadí */
    border-radius: 1rem;
    scrollbar-width: thin; /* Užší scrollbar pro Firefox */
    scrollbar-color: #ffedd3 transparent; /* Barva scrollbar */
    scroll-padding-block-start: 1rem;
}

/* Stylování scrollbar pro WebKit */
.navChoice::-webkit-scrollbar {
    width: 6px;
    scroll-behavior: smooth;
}
.navChoice::-webkit-scrollbar-thumb {
    background: #ffedd3; /* Barva scrollbar */
    border-radius: 10px;
}
.navChoice::-webkit-scrollbar-track {
    background: transparent; /* Pozadí scrollbar */
}

/* Text uvnitř kontejneru */
.navChoice-text {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/* Položky menu */
.navChoice-item {
    display: none;
    margin: 0.5rem 0;
    padding: 0.75rem;
    background-color: #444;
    border: 1px solid #888;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-right: auto;
}

/* Hover efekt pro položky */
.navChoice-item:hover {
    background-color: #ffedd3;
    color: #000;
    transform: translateY(-2px); /* Mírný posun nahoru */
}

/* Odkazy uvnitř položek */
.navChoice-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Tlačítko */
.nChItem {
    font-size: 1.5rem;
    color: #ffedd3;
    text-transform: uppercase;
    border: none;
    background-color: #444;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.nChItem:hover {
    background-color: #ffedd3;
    color: #000;
}

.ExerciseWrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: red;
    top: 0;
}

.ExDesc{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;

    font-size: 2rem;
    color: #000;
}