.navBar {
    font-size: 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background-color: #333; /* pozadí navbaru, aby text byl viditelný */
    padding: 0 1rem; /* padding kolem navbaru pro lepší vzhled */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between; /* přidá prostor mezi položkami */
}

.navBar-nav:hover {
    cursor: default;
}

.nav-item {
    transition: color 250ms;
    margin-right: 6rem; /* zkontroluj, jestli není příliš velký */
    display: block;

    background-color: red;
    transition: 0.5s ease;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff; /* zajistí, že text bude bílý a dobře viditelný */
}

.nav-item:hover {
    transition-delay: 0.5s;
    color: #f0f0f0; /* změna barvy textu při hoveru */
}

.nav-itemH1 {
    margin-left: 3rem; /* přidáno margin pro lepší umístění */
    margin-right: 3rem;
    display: block;
    height: auto;
    width: 200px;
    display: flex;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
}

.nav-text {
    text-align: center;
    color: #fff; /* zajistí, že text bude bílý a dobře viditelný */
}

#item {
    font-size: 2%;
    background: red;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

#item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-image: radial-gradient(circle at top left, #f00, #3020ff);
    transition: 0.5s ease;
}

#item:hover {
    transition-delay: 0.5s;
}

#item:hover::before {
    width: 100%;
}

#item:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}
