
.navBar2 {
    margin-top: 6.25rem;
    border-style: solid;
    background-color: rgb(37, 34, 34);
    font-size: 25px;
    position: fixed;
    display: flex;
    width: 9rem;
    height: 92vh;
    transition: 400ms;
    list-style: none;
    left: 0; /* Umístí panel úplně vlevo */
    top: 0; /* Ujistí se, že začíná od vrcholu stránky */
}

.navBar2-text{
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
    border-width: 0px;
    color: white;
    display: none;
}

.navBar2-img{
    visibility: visible;
    width: 70px;
    height: 70px;
    border-left: 10px;
    

}

.navBar2-img:hover{
    border-style: solid;
    border-bottom: 5rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: aliceblue;

    
}

.navBar2:hover{
    width: 22rem;
    transition: 0.3s;
}

.navBar2:hover .navBar2-text{
    margin-left: 1rem;
    display: block;
}

.navBar2:hover .arrow{
    margin-left: auto;
    transform: rotate(-180deg);
    transition: 300ms;
}

.arrowImg{
    margin-left: 1rem;
    width: 70px;
    height: 70px;
}

.arrow{

    transform: rotate(0deg);
    transition: 300ms;
    margin-bottom: 2rem;
}

.nav-item2{
    margin-top: 3rem;
    height: 5rem;
    margin-left: 0.5rem;
}

.navBar2-link:hover{

    filter: grayscale(0%) opacity(1);
    background: rgb(41, 40, 40);
    border-style: solid;
    border-color: white;
    border-radius: 7px;
}

.nav-item2:last-child{
    margin-top: auto;
    margin-bottom: 2rem;
}

.navBar-nav2{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: top;
}